<title>Diskus - {{forum.topic}}</title>

<a href="/"><strong>← Etusivulle</strong></a><br>
<h1>{{forum.topic}}</h1>
<hr>
{% for thread in threads %}
    <div id="title_{{thread.id}}" style="display:block">        
        <strong><a href="/thread/{{thread.id}}">{{thread.title}}</a></strong>

        {% if session.admin or session.username==thread.username %}
            <button onclick="edit({{thread.id}});">Muokkaa otsikkoa</button><br>
        {% endif %}
    </div>
    <!-- Edit form, hidden until the user presses "Muokkaa otsikkoa" -->
    <div id="edit_{{thread.id}}" style="display:none">
        <form action="/editthread" method="POST" style="margin-bottom:0em">
            <input type="text" name="title" value="{{thread.title}}">
            <input type="hidden" name="thread_id" value="{{thread.id}}">
            <input type="hidden" name="forum_id" value="{{forum.id}}">
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
            <input type="submit" value="Vaihda nimi">
            <button type="button" onclick="cancel({{thread.id}});">Peruuta</button>
        </form>
    </div>
    
    Luonut: {{thread.username}}</b> <br>
    Viestejä langassa: {{thread.msgcount}}
    {% if thread.msgcount %}
        <br>Viimeisin viesti: {{thread.lastmsg.strftime("%d.%m.%Y klo %H:%M:%S")}}
    {% endif %}
    {% if session.username == thread.username or session.admin%}
        <form action="/deletethread" method="POST">
            <input type="submit" value="Poista lanka">
            <input type="hidden" name="thread_id" value="{{thread.id}}">
            <input type="hidden" name="forum_id" value="{{forum.id}}">
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    {% endif %}
    <hr>
{% endfor %}
<br>
{% if session.username %}
<form action="/createthread" method="POST">
    <input type="text" name="title">
    <input type="submit" value="Tee uusi lanka">
    <input type="hidden" name="forum_id" value="{{forum.id}}">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
{% endif %}
{% for message in get_flashed_messages() %}
<strong style="color:red">{{message}}</strong>
{% endfor %}

<script type="text/javascript">
    function edit(thread_id) {
        document.getElementById("edit_" + thread_id).style.display="block";
        document.getElementById("title_" + thread_id).style.display="none";
    }
    function cancel(thread_id) {
        document.getElementById("edit_" + thread_id).style.display="none";
        document.getElementById("title_" + thread_id).style.display="block";
    }
</script>
