<title>Diskus - {{forum.topic}}</title>

<a href="/"><b>← Etusivulle</b></a>

<h1>{{forum.topic}}</h1>

{% for thread in threads %}
<hr>
<b>Otsikko: {{thread.title}}</b> </br>
<b>Luonut: {{thread.username}}</b>
<form action="/deletethread" method="POST">
    <input type="submit" value="Poista lanka">
    <input type="hidden" name="thread_id" value="{{thread.id}}">
    <input type="hidden" name="forum_id" value="{{forum.id}}">
</form>
<hr>
{% endfor %}

<form action="/createthread" method="POST">
    <input type="text" name="title">
    <input type="submit" value="Tee uusi lanka">
    <input type="hidden" name="forum_id" value="{{forum.id}}">    
</form>