<title>Diskus</title>

{% if session.username %}
    <h1>Tervetuloa, {{session.username}}!</h1>
{% else %}
    <h1>Tervetuloa!</h1>
    <a href="/login">Kirjaudu sisään</a> tai <a href="/register">rekisteröidy</a>
{% endif %}

<h3>Aiheet</h3>

{% for forum in forums %}
<h4>
<a href="/forums/{{forum.id}}">{{forum.topic}}</a>
{% if session.admin %}
<form action="/deleteforum" method="POST">
    <input type="submit" value="Poista aihe">
    <input type="hidden" name="forum_id" value="{{forum.id}}">
</form>
{% endif %}
</h4>
{% endfor %}

{% if session.admin %}
<form action="/createforum" method="POST">
    <input type="text" name="topic">
    <input type="submit" value="Tee uusi aihe"> 
</form>
{% endif %}

{% if session.username %}
    </br></br>
    <a href="/logout"> Kirjaudu ulos</a>
{% endif %}