<a href="/"><strong>← Etusivulle</strong></a><br>
<form action="/search" method="POST">
    <input type="text" name="query" placeholder="Hakusana">
    <input type="submit" value="Etsi viestejä">
</form>
{% if searched %}
Hakusanalla "{{query}}" löytyi {{messages|length}} viesti{% if messages|length != 1 %}ä{% endif %}
{% endif %}
<hr>
{% for message in get_flashed_messages() %}
<strong style="color:red">{{message}}</strong>
{% endfor %}
{% for message in messages %}
<strong>Lähettänyt: {{message.username}} {{message.sent_at.strftime("%d.%m.%Y klo %H:%M:%S")}}</strong> <br>
{{message.content}} <br>
<a href="/thread/{{message.thread_id}}">Siirry lankaan "{{message.title}}" →</a>
<hr>
{% endfor %}