<title>Diskus - {{thread.title}}</title>

<a href="/forums/{{thread.forum_id}}"><b>← Takaisin aiheeseen</b></a>

<h1>{{thread.title}}</h1>
<hr>
{% for message in messages %}
<b>Käyttäjä: {{message.username}}</b> </br>
<p>{{message.content}}</p>
{% if session.username == message.username or session.admin %}
<form action="/deletemessage" method="POST">
    <input type="submit" value="Poista viesti">
    <input type="hidden" name="message_id" value="{{message.id}}">
    <input type="hidden" name="thread_id" value="{{thread.id}}">    
</form>
<hr>
{% endif %}
{% endfor %}
</br>
{% if session.username %}
<form action="/createmessage" method="POST">
    <input type="text" name="content">
    <input type="submit" value="Lähetä viesti">
    <input type="hidden" name="thread_id" value="{{thread.id}}">    
</form>
{% endif %}